.page {
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden;

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    margin: 0;
  }
}

.null-alert {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px;
  color: #ffc107;

  &::before {
    display: inline-block;
    content: '';
    width: 64px;
    height: 1px;
    margin-right: 8px;
    vertical-align: middle;
    background: #ccc;
  }

  &::after {
    display: inline-block;
    content: '';
    width: 64px;
    height: 1px;
    margin-left: 8px;
    vertical-align: middle;
    background: #ccc;
  }
}

#app {
  .dialog-toolbar--fullscreen {
    height: calc(100vh - 56px);
    top: auto;
    bottom: 0;
  }
}

ul, li {
  margin: 0;
  padding: 0;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}