// color
$primary-color = '#f73e53';
$secondary-color = '#ff8b62';
$assist-color = '#70a0e4';

// text color
$text-color = '#323232';
$secondary-text-color = '#646464';
$gray-text-color = '#909090';
$toolbar-height = 48px;